<ion-view>
	<ion-nav-buttons side="left">
		<h1 class="title">修改密码</h1>
		<button class="button button-clear right" ng-click="updatePassword()">
			<i class="icon ion-ios7-compose-outline">完成</i>
		</button>
	</ion-nav-buttons>
	<ion-content class="padding has-header">
		<div class="list">
			<label class="item item-input">
				<input type="password" ng-model="user.password" placeholder="请输入旧密码">
			</label>
			<label class="item item-input">
				<input type="password" ng-model="user.newpassword" placeholder="请输入新密码">
			</label>
			<label class="item item-input">
				<input type="password" ng-model="user.checknewpassword" placeholder="重复新密码">
			</label>
		</div>
	</ion-content>
</ion-view>