<ion-view>
	<ion-nav-buttons side="left">
		<h1 class="title">我的信息</h1>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<a class="item item-avatar" href="#/post/manager/account">
				<img src="img/user.png">
				<h2>我的账户</h2>
				<p>欢迎使用U9博客</p>
			</a>
			<a class="item item-avatar" href="#/post/manager/password">
				<img src="img/security.png">
				<h2>账户安全</h2>
				<p>修改密码</p>
			</a>
			<a class="item item-avatar" href="#/post/manager/feedback">
				<img src="img/feedback.png">
				<h2>反馈</h2>
				<p>意见反馈</p>
			</a>
			<a class="item item-avatar" href="#/post/manager/about">
				<img src="img/alert.png">
				<h2>关于</h2>
				<p>关于U9博客</p>
			</a>
			<button class="button button-block button-assertive" ng-click="logoutBlog()">
				退出账户
			</button>
		</div>
	</ion-content>
</ion-view>