<ion-tabs class="tabs-icon-top">
  <ion-tab title="主页" class="assertive" icon="icon ion-ios7-home-outline" href="#/post/main">
    <ion-nav-view name="post-main">
    
    </ion-nav-view>
  </ion-tab>
  <ion-tab title="博客" class="assertive" icon="icon ion-ios7-filing-outline" href="#/post/list">
    <ion-nav-view name="post-list">
    
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" class="assertive" icon="icon ion-ios7-gear-outline" href="#/post/manager">
    <ion-nav-view name="post-manager"></ion-nav-view>
  </ion-tab>
</ion-tabs>
