<ion-view>
	<ion-nav-buttons side="left">
		<h1 class="title">欢迎使用U9博客</h1>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<img alt="" src="img/image_01.jpg" />
			<div class="content">
				<ul>
					<li class="item">
						<h2 class="title"><b>U9新特性介绍：</b></h2>
					</li>
					<li class="item">
						1. U9制造--新车间，移动报工
					</li>
					<li class="item">
						2. U9成本--阿米巴
					</li>
					<li class="item">
						3. U9人力--薪资管理，移动薪资查询
					</li>
					<li class="item">
						4. 条码系统
					</li>
					<li class="item">
						5. 电商系统
					</li>
				</ul>
			</div>
		</ion-list>
	</ion-content>
</ion-view>